* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* LAYOUT */
.app {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #111827;
    padding: 20px;
}

.logo {
    margin-bottom: 30px;
    font-size: 22px;
}

.menu li {
    list-style: none;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
}

.menu li:hover {
    background: #1f2937;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topbar input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #3b82f6;
    color: white;
    cursor: pointer;
    pointer-events: auto;
}

/* TASKS */
.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.task-card {
    background: #1f2937;
    padding: 15px;
    border-radius: 12px;
}

.task-card h3 {
    margin-bottom: 8px;
}

.topbar input, .topbar select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

.low {
    border-left: 5px solid green;
}

.medium {
    border-left: 5px solid orange;
}

.high {
    border-left: 5px solid red;
}